
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
</head>
<body>
    Successfully
    <br />
    <a href="/Home/LogOut"> Log Out </a>
</body>
</html>
